server {
   absolute_redirect off;

   location /querysets/ {
      proxy_pass ${QUERYSET_MANAGER_URL}/;
   }
   location /queryset/ {
      proxy_pass ${DATA_SERVICE_URL}/queryset/;
   }
   location /tables/ {
      proxy_pass ${DATA_SERVICE_URL}/tables/;
   }
   location /transforms/ {
      proxy_pass ${DATA_SERVICE_URL}/transforms/;
   }

}
